@charset "ISO-8859-1";


body {
	background-color:darkgreen;
}

a, h1 {
	font-size:40px;
	color:brown;
	text-decoration:none;	
}

.wrapper, .wrapperMain {
	width:30vw;
	margin:0 auto;
	margin-top:20%;
	padding: 40px;
	border: 4px double brown;
	border-radius: 20px;
	background-color:lightyellow;
	text-align:center;
	color:blue;
}

.wrapperMain {
	display:flex;
	justify-content:space-between;	
}

.homeLink {
	text-align:center;
}
