@charset "ISO-8859-1";

.wrapper {
	background:lightgrey;
	padding:10px;
	min-height:100vh;
}

.imgBox {
	display:flex;
	justify-content:center;	
	width:80%;
	margin: 3% auto;
}

img{
	border-radius:20px;
	box-shadow: 6px 6px 6px 6px rgba(255,7,58, 0.6);
}

.formWrapper{
	border: 3px double red;
	border-radius:10px;
	min-width:350px;
	width:35%;
	margin: 0 auto;
	margin-top:2%;
	padding:15px;
	box-shadow: 8px 8px 8px 8px rgba(255,7,58, 0.6);
}

.formation {
	display:flex;
	justify-content:space-between;
	padding:0 20px;
}

.btnBox {
	display:flex;
	justify-content:center;	
	width:200px;
	margin: 1% auto;
}

.button {
	width:150px;
	padding:5px;
	border: 1px solid white;
	border-radius:10px;
	background:red;
	color:white;
}

.button:hover {
	box-shadow: 8px 8px 8px 8px rgba(255,7,58, 0.6);
	color:black;
}

.homeBtnBox {
	display:flex;
	justify-content:center;	
	width:200px;
	margin: 3% auto;
}

.home {
	width: 90px;
	padding:5px;
	background: red;
	color:white;
	border: 1px solid white;
	border-radius:10px;
}

.home:hover {
	box-shadow: 6px 6px 6px 6px rgba(255,7,58, 0.6);
	color:black;
}

.errors {
	color:red;
	font-weight:800;
	padding:0 20px;
}

