@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:  sans-serif;
}

body {
	background:#23242a;

}


.nav {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:black;
	border-bottom: 6px double blue;
	padding:1% 5%;
}


h1, p, li, ul {
	color:white;
	text-decoration:none;
	list-style-type: none
}

.content{
	width:80%;
	margin: 0 auto;
	margin-top:2%;
	
}