@charset "ISO-8859-1";

body{
	background-color:lightgrey;
	padding:30px;
}

.formContainer {
	width:40%;
	min-width:300px;
	margin:0 auto;
	padding:15px;
	border: 4px double #3E37F2;
	border-radius: 5px;
	background-color:darkgrey;
}

.formation {
	margin-bottom:5px;
	display:flex;
	justify-content:space-between;
}

.input {
	background-color:lightgrey;
	border-color:#3E37F2;
	border-radius:5px;
	min-width:160px;
	width:300px;
}
label {
	color:#3E37F2;
	min-width:100px
}

.buttonContainer {
	width:20%;
	margin:0 auto;
	margin-top:5px;
	display:flex;
	justify-content:center
}

.button{
	background-color:#3E37F2;
	color:white;
	border:2px solid white;
	border-radius:5px;
}