@charset "ISO-8859-1";

h1{
	margin-left:10%;
	display:flex;
	align-items: center;
	color: #F5DB40;
}

body{
	background-image: url("https://i.pinimg.com/736x/e1/32/a7/e132a796db790cc8c8cd887afde40375--the-simpsons-saturday-morning.jpg");
	background-repeat:no-repeat;
	background-position: center center;
	background-size:cover;
	min-height:89vh;
}

.bgBox{
	width:30%;
	background-color:#65CBFF;
	border: 8px double #F5DB40;
	border-radius: 5px;
	padding:15px;
	margin: 5% 0 0 10%;
}

.formContainer {
	width:85%;
	min-width:300px;
	margin:0 auto;
	padding:15px;
	border: 4px double #3E37F2;
	border-radius: 5px;
	background-color:#F5DB40;
}

.formation {
	margin-bottom:5px;
	display:flex;
	justify-content:space-between;
}

.input {
	background-color:lightblue;
	border-color:lightblue;
	border-radius:5px;
	min-width:160px;
	width:300px;
}

label {
	color:white;
	font-size:20px;
	font-weight:700;
	min-width:100px;
}

.buttonContainer {
	width:20%;
	margin:0 auto;
	margin-top:5px;
}

.button{
	background-color:lightblue;
	color:white;
	font-size:20px;
	font-weight:800;
	padding:5px;
	border:2px solid #F5DB40;
	border-radius:5px;
}

#home {
	text-decoration:none;
	color: #F5DB40;
	margin-left:20%;
	font-size:20px;
}