@charset "ISO-8859-1";

h1{
	margin:10px;
	display:flex;
	align-items: center;
	margin-left:10%;
	margin-top:5%;
	color: #F5DB40;
}

body{
	background-image: url("https://pbs.twimg.com/media/EowU808XUAgoPbF.jpg");
	background-repeat:no-repeat;
	background-position: center center;
	background-size:cover;
	min-height:90vh;
}



#displayTable {
	width:40%;
	min-width:420px;
	margin-left:10%;
	padding:15px;
	border: 4px double #3E37F2;
	border-radius: 10px;
	text-align:center;
}

tr {
	background-color: blue;
	color:white;
}

#links {
	text-decoration:none;
	color:white;
}


.createBox {
margin-left:5%;
}


#home {
	text-decoration:none;
	color: #F5DB40;
	margin-left:10%;
	font-size:20px;
}