@charset "ISO-8859-1";

body {
	background: white;
}

h1, h4, a {
	color:#A54657;
}

h2, p, a:hover {
	color: #454E9E;
}

a,p {
	font-weight: 700;
}

a {
	position:relative;
}

.nav {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:#0E0004;
	border-bottom: 8px double #7FB069;
	padding:1% 5%;
}

.container {
	margin-top: 5%;
	position: absolute;
	left: 50%;
	transform: translateX( -50%);
}

.formContainer {
	width:40%;
	min-width:500px;
	margin:6% auto;
	padding:10px 15px 0 15px;
	border: 6px double #7FB069;
	border-radius: 5px;
	background-color: #E1E2EF;
}

.formation {
	margin-bottom:5px;
	display:flex;
	justify-content:space-between;
}

.input {
	background-color:#E1E2EF;
	border: 3px solid #7FB069;
	border-radius:5px;
	color: #454E9E;
	min-width:140px;
	width:250px;
	caret-color: #454E9E;
	padding-left:5px;
}

.input:hover {
	border-color:#B497D6;
	transition: 0.2s;		
}

.input:focus {
	background-color:rgba(180, 151, 214, .3);
	border-color: #7FB069;
	outline: 1px solid #7FB069;
	transition: 0.2s;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #E1E2EF inset;
    -webkit-text-fill-color: #454E9E;
}

label {
	color:#454E9E;
	font-weight: 700;
	min-width:100px;
}

.buttonContainer {
	width:20%;
	margin:10px auto 0;
}

.button {
	position: relative;
	width: 100px;
	border: 2px solid #A54657;
	border-radius: 5px;
	color: #A54657;
	background-color: rgba(180, 151, 214, .3);
	font-weight: 700;
	padding: 3px
}

.button:hover {
	border-color: #454E9E;
	background-color: #A54657;
	color: #E1E2EF;
}

.button:active,a:active {
	top: 2px;
}

.errorFlex {
	display:flex;
	flex-direction:column;
}

.errorFlex2 {
	display:flex;
}

.errors{
	color:red;
	font-weight:800;
}

.signIn {
	margin-top:20px;
	text-align:end;
}