@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
}

h1, h3, h5, a {
	color:#A54657;
}

h2, h4, p {
	color: #454E9E;
}

a,p {
	font-weight: 700;
}

a:hover, .completed {
	color: #454E9E;
	}
	
.completeTitle {
	text-align: center;
	margin: 20px
}

.completed {
	margin:20px 0;
	color: #454E9E;
}
	
 .completeWord {
	font-weight: 800;
	font-style: italic;
	color: #A54657;
 }
 
.flexControl {
	display:flex;
	justify-content:space-between;
}

.right, .small, taskText {
	text-align:end;
	margin:0;
}

.small {
	font-size:14px;
	color: #A54657;
	text-align:start;
	padding-left: 15px;
}

.smaller {
	font-size:10px;
	color: #A54657;
}

.nav {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:#0E0004;
	border-bottom: 8px double #7FB069;
	padding:1% 5%;
}

.viewOneContainer {
	width: 65%;
	min-width:380px;
	margin: 20px auto 0;
	padding:15px;
	border: 6px double #7FB069;
	border-radius: 5px;
	background-color: #E1E2EF;
}

.viewTwoContainer {
	width: 65%;
	margin: 0 auto 10px;
	column-gap: 14%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.teamMembers, .tasks {
	margin-top: 20px;
	min-width: 380px;
	width: 43%;
	padding:20px;
	border: 6px double #7FB069;
	border-radius: 5px;
	background-color: #E1E2EF;
}

.buttonContainer, .returnContainer {
	width: 80%;
	margin: 0 auto;
	margin-top: 5px;
	display: flex;
	justify-content: space-evenly
}

.returnContainer {
	flex-direction: column;
	justify-content: center;
	align-items: center
}


.button {
	position: relative;
	width: 100px;
	border: 2px solid #A54657;
	border-radius: 5px;
	font-weight: 700;
	padding: 3px
}

.button:active {
	top: 2px;
}

.submit {
	height: 51px;	
}

.edit, .submit {
	color: #A54657;
	background-color: rgba(180, 151, 214, .3); 
}

.edit:hover, .submit:hover {
	border-color: #454E9E;
	background-color: #A54657;
	color: #E1E2EF;
}

.delete {
	color: red;
	background-color: #E1E2EF;
	border-color: red;
}

.delete:hover {
	border-color: #454E9E;
	background-color: red;
	color: #E1E2EF;
}

.complete {
	width:145px;
	border-color: #454E9E;
	background-color: #E1E2EF;
	color: #454E9E;
}

.complete:hover {
	border-color:  #A54657;
	background-color: #454E9E;
	color: #E1E2EF;
}

.ticketFlex {
	display:flex;
	justify-content:center;
	align-items:center;
}

.taskText {
	width:275px;
	text-align:start
}

.input {
	background-color:#E1E2EF;
	border: 3px solid #7FB069;
	border-radius:5px;
	color: #454E9E;
	min-width:140px;
	width:250px;
	caret-color: #454E9E;
	padding-left:5px;
}

.input:hover {
	border-color:#B497D6;
	transition: 0.2s;		
}

.input:focus {
	background-color:rgba(180, 151, 214, .3);
	border-color: #7FB069;
	outline: 1px solid #7FB069;
	transition: 0.2s;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #E1E2EF inset;
    -webkit-text-fill-color: #454E9E;
}

.errors{
	color:red;
	font-weight:800;
	text-align:center;
}