@charset "ISO-8859-1";

body {
	background:grey;

}

.nav {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:black;
	border-bottom: 4px double blue;
	padding:1% 5%;
}

h1, h3 {
	color:white;
	text-decoration:none;
}

h5{
	text-align:center;
}

a {
	color:blue;
}


.flexControl{
	display:flex;
	justify-content:space-between;
}


.buttonContainer {
	width:80%;
	margin:2% auto;
	margin-top:5px;
	display:flex;
	justify-content:space-evenly
}

.button{
	background-color:red;
	color:white;
	border:2px solid white;
	border-radius:5px;
}



.formContainer {
	display:flex;
	width:50%;
	min-width:300px;
	margin:0% auto;
	padding:15px;
}

.formation {
	margin-bottom:5px;
	display:flex;
	justify-content:space-between;
}

.input {
	background-color:lightgrey;
	border-color:#3E37F2;
	border-radius:5px;
	min-width:160px;
	width:300px;
}

label {
	color:white;
	min-width:100px;
}



.subbutton{
	background-color:#3E37F2;
	color:white;
	border:2px solid white;
	border-radius:5px;
	padding:5px;
}

.errors{
	color:red;
	font-weight:800;
}

.tasks{
	margin-left:5%;
}