@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:  sans-serif;
}

body {
	background: lightgrey;

}

h1{
	color: blue;
}

h2{
	color:blue;
	text-align:center;
}

.box{
	width:20%;
	margin:2% auto;
	color:blue;
}

hr{
	width: 80%;
	margin:2% auto;
	border:6px double blue;
}

.nav {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:black;
	border-bottom: 6px double blue;
	padding:1% 5%;
}

.flex{
	display:flex;
	flex-direction:column;
}

.title {
	text-align:center;
	margin-top:2%;
}

.newLinks{
	margin:2% 15%;
}

.displayContainer {
	margin-top:2%;
	display:flex;
	justify-content:space-evenly;
}

.displayLeft {
	padding-top:2%;
	text-align:center;
	width: 40%;
	border:3px double blue;
}

.displayRight {
	padding-top:2%;
	text-align:center;
	width: 40%;
	border:3px double blue;
}


.formContainer {
	width:20%;
	min-width:300px;
	margin:4% auto;
	padding:15px;
	border: 4px double #3E37F2;
	border-radius: 5px;
	background-color: grey;
}

.formation {
	margin-bottom:5px;
	display:flex;
	justify-content:space-between;
}

.input {
	background-color:lightgrey;
	border-color:#3E37F2;
	border-radius:5px;
	min-width:160px;
	width:300px;
}

label {
	color:white;
	min-width:100px;
}

.buttonContainer {
	width:20%;
	margin:0 auto;
	margin-top:10px;
}

.button{
	background-color:#3E37F2;
	color:white;
	border:2px solid white;
	border-radius:5px;
	padding:5px;
}

.errors{
	color:red;
	font-weight:800;
}